/* SilverWare Admin Forms Styles
===================================================================================================================== */

// Dropdown Field Styles:

.chosen-container-single {
  
  .chosen-single {
    
    &.chosen-default {
      color: $input-color-placeholder;
    }
    
    abbr {
      top: 11px;
    }
    
  }
  
}

// Tree Dropdown Field Styles:

.field .TreeDropdownField {
  
  .treedropdownfield-title > .jstree-pageicon {
    display: none;
  }
  
}

// Grid Field Styles:

.grid-field__table {
  
  td.col-StripThumbnail img {
    margin: 0 auto;
  }
  
}

// Datepicker Field Styles:

.field .btr-dateinput-calendar {
  font-family: inherit;
}
