/* SilverWare Admin Menu Styles
===================================================================================================================== */

// Menu Header Styles:

.cms-menu__header {
  
  .cms-sitename {
    font-weight: 500;
  }
  
  .cms-login-status .cms-login-status__profile-link {
    
    padding: 0 0 0 8px;
    
    span {
      padding-left: 30px;
    }
    
  }
  
}

// Menu Icon Styles:

.menu__icon {
  
  &.fa {
    width: 16px;
    font-size: 14px;
    text-align: center;
    line-height: $line-height-base;
  }
  
}
